*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;

}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background: radial-gradient(101.42% 95.78% at 50% 50%, #190B30 0%, #121212 95.32%);
}
